*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: none;
}

ul,
li {
  list-style-type: none;
}

@media only screen and (min-width: 961px) {
  .navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navlist > li {
    margin-right: 20px;
  }
  .menu-toggle {
    display: none;
  }
}

/* mimic smaller screensize */
@media only screen and (min-width: 0px) and (max-width: 960px) {
  .menu-toggle {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 4px solid black;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  nav {
    display: none;
  }
  nav.active {
    border: 4px solid red;
    display: block;
    position: absolute;
    width: 100%;
  }
  nav.active .navlist {
    display: block;
    background: grey;
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
}
/*# sourceMappingURL=burger.css.map */