@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin buttonStyle {
  border-radius: $corner-radius;
  background: $light-blue;
  color: $white;
  padding: $button-h-padding $button-w-padding;
  transition: 0.3s ease-in;

  >* {
    border-bottom: 1px solid $light-blue;
    transition: 0.3s ease-in;
  }

  @include respond (phone) {
    padding: 1.7rem 3.8rem !important;
    font-size: 1.7rem;
  }
}

// From http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin verticalAlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin subHeading {
  font-size: $heading-size;
  color: $med-blue;
  font-weight: $xlight-weight;
  padding-bottom: 3rem;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet landscape
900 - 1200px:   Tablet potrait
[1200 - 1800] is where our normal styles apply. no need for a media query
1800px +:       Large desktops

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base & typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media(max-width:37.5em) {
      @content;
    }

    //max 600px
  }

  @if $breakpoint==tab-port {
    @media(max-width:56.25em) {
      @content;
    }

    //max 900px
  }

  @if $breakpoint==tab-land {
    @media(max-width:75em) {
      @content;
    }

    //max 1200px
  }

  @if $breakpoint==big-desktop {
    @media(min-width:112.5em) {
      @content;
    }

    //min 1800px
  }
}