.carousel {
  height: 100%;

  .carousel-indicators {
    margin-bottom: 2rem;
  }

  .carousel-indicators li {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 100%;
    background: rgba(255, 255, 255, .6);
    color: rgba(0, 0, 0, 0.8);
    opacity: 0.4;
    margin-left: 1rem;
    border: 1px solid $white;
  }

  &-item img {
    object-fit: cover !important;
    // not ideal but the only working solution to override bootstrap
    width: 100vw !important;
    height: 100vh !important;
  }
}