/*** HIDE TOGGLE ABOVE TAB-PORT SIZE ***/
a.toggle-panel {
  display: none;

  @include respond (tab-port) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    background: $dark-blue;
    color: $white;
  }
}

/*** HIDE PANEL ABOVE TAB-PORT SIZE ***/
#scotch-panel {
  background: $med-grey;
  padding: 0;
  position: fixed !important;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 99999;

  @include respond(tab-port) {

    /** PANEL STYLES **/
    #scotch-panel {
      display: block;
      background: $med-grey;
    }

    #scotch-panel ul {
      border: 6px solid black;
      list-style: none;
      padding: 0;
      margin-top: 20px;
      text-align: center;
    }

    #scotch-panel ul li a {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      background: transparent;
      color: blue;
    }

    #scotch-panel ul li a:hover {
      background: cyan;
    }
  }
}

.header {
  &__nav {
    display: flex;
    max-width: 100%;


    &-logo:hover {
      cursor: pointer;
    }

    &-contain {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__navlist {
    margin: 0;
    display: flex;
    align-items: center;
    max-width: 100%;

    @include respond(tab-port) {
      display: none;
    }

    &-item:last-child {
      padding-right: 4.5rem;
      margin-right: 0rem;

      @include respond(tab-land) {
        padding-left: 4%;
        max-width: 100%;
        padding-right: 3rem;
      }
    }

    &-item {
      margin-right: 4.5rem; // can't use % here
      text-transform: uppercase;

      @include respond(tab-land) {
        padding-left: 2.5%; // hacky to avoid overlap
        max-width: 100%;
      }

      >a {
        text-transform: uppercase;
        font-size: $nav-size;
        border-bottom: 1px solid $white;
        transition: 0.3s ease;
      }

      >a:hover {
        border-bottom: 1px solid $dark-grey;
      }
    }
  }
}

/* SEARCH FORM - learnt from Chris Coyier article */
/* need to place this separately or style won't stick */
.searchContainer {
  display: inline-flex;
  position: relative;
  border: 1px solid $light-grey;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;

  @include respond(tab-land) {
    display: none; // hide to temp fix
  }
}

.searchIcon {
  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
  color: $other-grey;
}

.searchBox {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  color: $dark-grey;
}