.news__panel {

  @include respond(tab-land) {
    min-width: 45%;
  }

  @include respond(phone) {
    min-width: 100%;
  }

  &-date {
    font-size: $date-size;
    font-weight: $light-weight;
    color: $dark-grey;
    padding: 2rem 2.4rem 0rem 2.4rem;
  }

  &-heading {
    font-size: $news-heading-size;
    color: $med-blue;
    font-weight: $xlight-weight;
    padding: 2rem 2.4rem;
    line-height: 1.4;
  }
}

img.news__panel-img {
  object-fit: cover;
  width: 50%; //not sure why 50% works and not 100%
  height: 50%;

  @include respond(tab-land) {
    min-width: 100%;
    object-fit: cover;
  }
}