// SCOTCH PANEL ONLY

// Auto close the scotch panel for above TAB-PORT screen size
@media only screen and (min-width : 900px) {
  .scotch-panel-canvas {
    transform: translate3d(0px, 0px, 0px) !important;
  }
}

// Nav links
.scotch-nav {
  &__navlist {
    background: $white;

    &-item {
      padding: 2.4rem 3rem;
      border-bottom: 1px solid $light-grey;
      cursor: pointer;

      >a {
        text-transform: uppercase;
        font-size: 1.6rem;
      }
    }
  }
}

li.scotch-nav__navlist-item:hover {
  background: $med-grey;
  border-bottom: 1px solid $white;

  a> {
    color: $dark-blue;
  }
}

// Search Box
div.scotch-search {
  padding: 2.4rem 3rem;
  border-bottom: 1px solid $light-grey;
  background: $white;
}

form.scotch-searchContainer {
  display: inline-flex;
  position: relative;
  border: 1px solid $light-grey;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  background: $white;
  // unable to modify the size of the search box here
  width: 21rem !important;
  height: 4rem !important;
}

input.scotch-searchBox {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  color: $dark-grey;
  background: white;
}

// Footer links
.scotch-footer {
  &__navLinks {
    padding: 3rem;
  }

  &__nav {
    padding-bottom: 1.5rem;

    >p {
      text-transform: uppercase;
      padding-bottom: 1.7rem;
    }

    &-linklist>li>a {
      text-transform: uppercase;
    }

    &-linklist>li:not(:last-child) {
      padding-bottom: 1.5rem;
    }

  }
}

ul.socialmediaList {
  display: flex;

  >li>a>i {
    color: $med-blue;
    transition: 0.5s ease;
    font-size: 2.5rem;
    margin-right: 2rem;

    &:hover {
      color: $dark-blue;
    }
  }
}

.badgeList {
  display: flex;
  flex-direction: column;

  >a {
    padding-bottom: 1.4rem;
  }
}