.services {
  &__panel {
    background: $white;
    max-width: 27rem !important; // enforce tailored size
    border-radius: $corner-radius;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0 $services-panel-g 0 0;

    @include respond(tab-land) {
      min-width: 45%;
      margin-bottom: $responsive-gutter;
    }

    @include respond(phone) {
      min-width: 100%;
      margin: 0 0 $responsive-gutter 0; // bottom margin. psd says 6rem but visually it didn't match?
    }

    &-heading {
      padding: 3rem $services-txt-g 2rem $services-txt-g;
      font-size: $sub-heading-size;
      color: $light-blue;
      font-weight: $xlight-weight;
      text-align: center;
      line-height: 1.2;
      overflow: hidden;
    }

    &-img {
      width: 27.8rem;
      height: 16.2rem;
      overflow: hidden;

      @include respond(tab-land) {
        min-width: 100%;
        object-fit: cover;
      }

      >img {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
      }
    }

    &-list {
      padding: 0 $services-txt-g 2.4rem $services-txt-g;

      @include respond(phone) {
        min-width: 100%;
        text-align: left;
      }
    }

    &-item {
      font-size: $main-size;
      line-height: 3rem;
    }

    &-item:before {
      content: "+";
      color: $light-blue;
      margin-right: 1rem;
    }
  }
}