*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important; // define 1rem = 10px
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #333;
  text-decoration: none;
  text-transform: none;
  border: none;
  background: none;
}

ul,
ol,
li {
  list-style-type: none;
}

div.full_page {
  // can't get the scotch shadow going here
  -webkit-box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.25) !important;
  -moz-box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.9) !important;
}