body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $dark-grey;
  font-size: $main-size;
}

// Typography variables
$heading-size: 2.6rem; // feature, services
$banner-heading-size: 4rem;
$nav-link-size: 1.4rem; // nav, footer
$clients-heading-size: 3rem;
$news-subhead-size: 1.8rem;
$news-date-size: 1.5rem;
$contentinfo-size: 1.3rem;

// Font Weights
$xlight-weight: 300;
$light-weight: 400;
$reg-weight: 600;
$bold-weight: 700;