.container {
  max-width: 120rem; // adjusting bootstrap grid
  padding: 0;
  outline: none;
  border: 0;

  // hackfix
  @include respond (phone) {
    // padding-left: 3%;
    // padding-right: 3%;
    max-width: 100%;
  }
}

.row,
.col {
  padding: 0;
  border: 0;
}

.row {
  @include respond(phone) {
    max-width: 100% !important;
  }
}

.header,
.banner,
.features,
.services,
.clientnews,
.footer,
.credit {
  display: block;
  position: relative;
  width: 100%;
}