.banner {
  height: $banner-h;

  @include respond(phone) {
    height: 34rem; // not ideal
  }
}

.banner__txt {
  @include absCenter;

  z-index: 100;
  text-align: center;
  width: 50rem; // eyeballed - not ideal

  @include respond (phone) {
    width: 100%;
    font-size: 2.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &-head>h1 {
    color: $white;
    font-weight: $xlight-weight;
    text-transform: uppercase;
    font-size: $carousel-head-size;
    line-height: 1.25;
    height: 10rem; // measured instead of calculated from lineheight - not ideal
    overflow: hidden;
  }

  &-btn {
    margin-top: 2rem;
    @include buttonStyle;

    &:hover {
      >* {
        border-bottom: 1px solid $white;
      }
    }
  }
}