.clientnews {
  background: $light-grey;
  padding: $generic-padding 0;

  @include respond(tab-land) {
    background: none;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &>.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include respond(tab-land) {
      display: block;
      width: 100%;
    }
  }
}

.client {
  width: 50%;
  padding-right: 3%; // force fix - not ideal

  @include respond(tab-land) {
    padding: $generic-padding $responsive-gutter;
    min-width: 100%;
    margin-right: 6rem;
  }

  @include respond(tab-port) {
    padding-top: $generic-mobile-padding;
    padding-bottom: $generic-mobile-padding;
    // padding: $generic-mobile-padding $responsive-gutter;
  }

  &__heading {
    @include subHeading
  }

  &__txt {
    padding-bottom: 3rem;
  }
}

.news {
  width: 50%;

  @include respond(tab-land) {
    min-width: 100%;
    padding-top: $generic-padding;
    padding-bottom: $generic-padding;
    background: $light-grey;
  }

  @include respond (tab-port) {
    padding-top: $generic-mobile-padding;
    padding-bottom: $generic-mobile-padding;
  }

  &__heading {
    @include subHeading;
    margin-left: -1rem; // hackfix - something wrong with my calculations somewhere 

    @include respond(tab-land) {
      margin-left: 3%;
    }

    @include respond(phone) {
      margin-left: $responsive-gutter;
    }
  }
}

.news>.row {
  @include respond (tab-land) {
    margin-left: 3%; // hacky
    margin-right: 3%;
    width: 100%;
  }

  @include respond(phone) {
    margin-left: $responsive-gutter;
    padding-right: 6rem; //hacky
  }
}