.credit>.container {
  display: flex;
  justify-content: space-between;

  @include respond (phone) {
    display: block;
  }
}

.credit {
  display: flex;
  align-items: center;
  min-height: 5rem;

  @include respond(tab-land) {
    padding-left: $responsive-gutter;
    padding-right: $responsive-gutter;
  }

  @include respond(phone) {
    display: block;
    text-align: left;
    padding: 1rem $responsive-gutter;
    font-size: 1.3rem;
  }
}