.features {
  background: $med-grey;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  text-align: center;
  padding: $generic-padding 0;

  @include respond(tab-port) {
    padding: $generic-mobile-padding 0;
  }

  &__row {
    padding-bottom: $generic-padding;

    @include respond(tab-port) {
      padding-bottom: $generic-mobile-padding;
    }
  }

  &__contactbtn {
    @include buttonStyle;
    margin: 0 auto;

    &:hover {
      >* {
        border-bottom: 1px solid $white;
      }
    }
  }

  @include respond(tab-port) {
    > {
      display: flex;
      justify-content: space-around !important;
    }
  }
}