.footer {
  padding: 3rem 0rem;
  background: $med-grey;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include respond(tab-port) {
    display: none;
  }

  &__badges {
    height: 3.7rem;
    margin: 0 0 1rem 0;
    padding: 0;
  }

  &__nav {
    margin-left: 1rem;

    &>ul li {
      padding-bottom: 1rem;
    }

    &>p,
    ul>li,
    &-linklist>li>a {
      text-transform: uppercase;
    }

    &-socialmedia {
      padding-top: 1rem;
      display: flex;

      >li>a>i {
        color: $med-blue;
        transition: 0.5s ease;
        font-size: 2.5rem;
        margin-right: 2rem;

        &:hover {
          color: $dark-blue;
        }
      }
    }
  }
}

.apple,
.android {
  height: 3.7rem;

  @include respond(tab-land) {
    display: block;
  }
}

#footerLinks {
  @include respond (tab-land) {
    padding-left: $responsive-gutter; // hacky
  }
}

// @media only screen and (max-width:900px) {
//   .footer{
//     &__nav{
//         border: 1px solid red;
//         display: block !important;
//         width: 100% !important;
//     }
//   }
// }