.header {
  z-index: 100;
  -webkit-box-shadow: 0px 6px 13px 1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0px 6px 13px 1px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 6px 13px 1px rgba(0, 0, 0, 0.11);
  height: 6rem;
  display: flex;
  align-items: center;
}