.register {
  z-index: 1000;
  position: absolute;
  // centering aboslute
  left: 0;
  right: 0;
  margin: 0 auto;

  &-links {
    float: right;
    width: 17rem; // reinforce
    padding: 0.6rem 2rem;
    border-bottom-left-radius: $corner-radius;
    border-bottom-right-radius: $corner-radius;
    background: $dark-blue;

    @include respond (tab-port) {
      background: none;
      width: 18rem; // reinforce
      text-align: right;
      margin-right: 7rem;
    }

    >a,
    >span {
      text-transform: uppercase;
      color: $white;
      font-size: $nav-size;
      transition: 0.3s;
      border-bottom: 1px solid $dark-blue;

      @include respond(tab-port) {
        color: $dark-blue;
        border-bottom: 1px solid $white;
        font-weight: $reg-weight;
      }
    }

    >a:hover {
      // text-decoration: underline;
      border-bottom: 1px solid white;

      @include respond(tab-port) {
        border-bottom: 1px solid $dark-blue;
      }
    }

    >span {
      padding: 0 1.2rem;
      font-weight: $reg-weight;
    }
  }
}