.services {
  background: $light-blue;
  padding: $generic-padding 0;

  @include respond(tab-port) {
    padding: $generic-mobile-padding 0 !important;
  }
}

.services>.container>.row {
  @include respond (tab-land) {
    margin-left: 3%; // hacky
    margin-right: 3%;
    width: 100%;
  }

  @include respond(phone) {
    margin-left: $responsive-gutter;
    padding-right: 6rem; // hacky
    width: 100%;
  }
}