*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  color: #333;
  text-decoration: none;
  text-transform: none;
  border: none;
  background: none;
}

ul,
ol,
li {
  list-style-type: none;
}

div.full_page {
  -webkit-box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 10px 0px 14px 0px rgba(0, 0, 0, 0.9) !important;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet landscape
900 - 1200px:   Tablet potrait
[1200 - 1800] is where our normal styles apply. no need for a media query
1800px +:       Large desktops

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base & typography > general layout + grid > page layout > components

1em = 16px
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333333;
  font-size: 1.6rem;
}

.container {
  max-width: 120rem;
  padding: 0;
  outline: none;
  border: 0;
}

@media (max-width: 37.5em) {
  .container {
    max-width: 100%;
  }
}

.row,
.col {
  padding: 0;
  border: 0;
}

@media (max-width: 37.5em) {
  .row {
    max-width: 100% !important;
  }
}

.header,
.banner,
.features,
.services,
.clientnews,
.footer,
.credit {
  display: block;
  position: relative;
  width: 100%;
}

.header {
  z-index: 100;
  -webkit-box-shadow: 0px 6px 13px 1px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 6px 13px 1px rgba(0, 0, 0, 0.11);
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.register-links {
  float: right;
  width: 17rem;
  padding: 0.6rem 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #002b53;
}

@media (max-width: 56.25em) {
  .register-links {
    background: none;
    width: 18rem;
    text-align: right;
    margin-right: 7rem;
  }
}

.register-links > a,
.register-links > span {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid #002b53;
}

@media (max-width: 56.25em) {
  .register-links > a,
  .register-links > span {
    color: #002b53;
    border-bottom: 1px solid #fff;
    font-weight: 600;
  }
}

.register-links > a:hover {
  border-bottom: 1px solid white;
}

@media (max-width: 56.25em) {
  .register-links > a:hover {
    border-bottom: 1px solid #002b53;
  }
}

.register-links > span {
  padding: 0 1.2rem;
  font-weight: 600;
}

.banner {
  height: 64rem;
}

@media (max-width: 37.5em) {
  .banner {
    height: 34rem;
  }
}

.banner__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  width: 50rem;
}

@media (max-width: 37.5em) {
  .banner__txt {
    width: 100%;
    font-size: 2.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.banner__txt-head > h1 {
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.25;
  height: 10rem;
  overflow: hidden;
}

.banner__txt-btn {
  margin-top: 2rem;
  border-radius: 0.5rem;
  background: #0073ab;
  color: #fff;
  padding: 1.5rem 4rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.banner__txt-btn > * {
  border-bottom: 1px solid #0073ab;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (max-width: 37.5em) {
  .banner__txt-btn {
    padding: 1.7rem 3.8rem !important;
    font-size: 1.7rem;
  }
}

.banner__txt-btn:hover > * {
  border-bottom: 1px solid #fff;
}

.features {
  background: #e6e6e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  text-align: center;
  padding: 7rem 0;
}

@media (max-width: 56.25em) {
  .features {
    padding: 7rem 0;
  }
}

.features__row {
  padding-bottom: 7rem;
}

@media (max-width: 56.25em) {
  .features__row {
    padding-bottom: 7rem;
  }
}

.features__contactbtn {
  border-radius: 0.5rem;
  background: #0073ab;
  color: #fff;
  padding: 1.5rem 4rem;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  margin: 0 auto;
}

.features__contactbtn > * {
  border-bottom: 1px solid #0073ab;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

@media (max-width: 37.5em) {
  .features__contactbtn {
    padding: 1.7rem 3.8rem !important;
    font-size: 1.7rem;
  }
}

.features__contactbtn:hover > * {
  border-bottom: 1px solid #fff;
}

@media (max-width: 56.25em) {
  .features > {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
  }
}

.services {
  background: #0073ab;
  padding: 7rem 0;
}

@media (max-width: 56.25em) {
  .services {
    padding: 7rem 0 !important;
  }
}

@media (max-width: 75em) {
  .services > .container > .row {
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .services > .container > .row {
    margin-left: 3rem;
    padding-right: 6rem;
    width: 100%;
  }
}

.clientnews {
  background: #f2f2f2;
  padding: 7rem 0;
}

@media (max-width: 75em) {
  .clientnews {
    background: none;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

.clientnews > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 75em) {
  .clientnews > .container {
    display: block;
    width: 100%;
  }
}

.client {
  width: 50%;
  padding-right: 3%;
}

@media (max-width: 75em) {
  .client {
    padding: 7rem 3rem;
    min-width: 100%;
    margin-right: 6rem;
  }
}

@media (max-width: 56.25em) {
  .client {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.client__heading {
  font-size: 2.6rem;
  color: #0067a3;
  font-weight: 300;
  padding-bottom: 3rem;
}

.client__txt {
  padding-bottom: 3rem;
}

.news {
  width: 50%;
}

@media (max-width: 75em) {
  .news {
    min-width: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #f2f2f2;
  }
}

@media (max-width: 56.25em) {
  .news {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.news__heading {
  font-size: 2.6rem;
  color: #0067a3;
  font-weight: 300;
  padding-bottom: 3rem;
  margin-left: -1rem;
}

@media (max-width: 75em) {
  .news__heading {
    margin-left: 3%;
  }
}

@media (max-width: 37.5em) {
  .news__heading {
    margin-left: 3rem;
  }
}

@media (max-width: 75em) {
  .news > .row {
    margin-left: 3%;
    margin-right: 3%;
    width: 100%;
  }
}

@media (max-width: 37.5em) {
  .news > .row {
    margin-left: 3rem;
    padding-right: 6rem;
  }
}

.footer {
  padding: 3rem 0rem;
  background: #e6e6e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .footer {
    display: none;
  }
}

.footer__badges {
  height: 3.7rem;
  margin: 0 0 1rem 0;
  padding: 0;
}

.footer__nav {
  margin-left: 1rem;
}

.footer__nav > ul li {
  padding-bottom: 1rem;
}

.footer__nav > p,
.footer__nav ul > li,
.footer__nav-linklist > li > a {
  text-transform: uppercase;
}

.footer__nav-socialmedia {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-socialmedia > li > a > i {
  color: #0067a3;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 2.5rem;
  margin-right: 2rem;
}

.footer__nav-socialmedia > li > a > i:hover {
  color: #002b53;
}

.apple,
.android {
  height: 3.7rem;
}

@media (max-width: 75em) {
  .apple,
  .android {
    display: block;
  }
}

@media (max-width: 75em) {
  #footerLinks {
    padding-left: 3rem;
  }
}

.credit > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 37.5em) {
  .credit > .container {
    display: block;
  }
}

.credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5rem;
}

@media (max-width: 75em) {
  .credit {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 37.5em) {
  .credit {
    display: block;
    text-align: left;
    padding: 1rem 3rem;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 900px) {
  .scotch-panel-canvas {
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
            transform: translate3d(0px, 0px, 0px) !important;
  }
}

.scotch-nav__navlist {
  background: #fff;
}

.scotch-nav__navlist-item {
  padding: 2.4rem 3rem;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}

.scotch-nav__navlist-item > a {
  text-transform: uppercase;
  font-size: 1.6rem;
}

li.scotch-nav__navlist-item:hover {
  background: #e6e6e5;
  border-bottom: 1px solid #fff;
}

li.scotch-nav__navlist-item:hover a > {
  color: #002b53;
}

div.scotch-search {
  padding: 2.4rem 3rem;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;
}

form.scotch-searchContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 21rem !important;
  height: 4rem !important;
}

input.scotch-searchBox {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  color: #333333;
  background: white;
}

.scotch-footer__navLinks {
  padding: 3rem;
}

.scotch-footer__nav {
  padding-bottom: 1.5rem;
}

.scotch-footer__nav > p {
  text-transform: uppercase;
  padding-bottom: 1.7rem;
}

.scotch-footer__nav-linklist > li > a {
  text-transform: uppercase;
}

.scotch-footer__nav-linklist > li:not(:last-child) {
  padding-bottom: 1.5rem;
}

ul.socialmediaList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.socialmediaList > li > a > i {
  color: #0067a3;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-size: 2.5rem;
  margin-right: 2rem;
}

ul.socialmediaList > li > a > i:hover {
  color: #002b53;
}

.badgeList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.badgeList > a {
  padding-bottom: 1.4rem;
}

/*** HIDE TOGGLE ABOVE TAB-PORT SIZE ***/
a.toggle-panel {
  display: none;
}

@media (max-width: 56.25em) {
  a.toggle-panel {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.5rem;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    background: #002b53;
    color: #fff;
  }
}

/*** HIDE PANEL ABOVE TAB-PORT SIZE ***/
#scotch-panel {
  background: #e6e6e5;
  padding: 0;
  position: fixed !important;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 99999;
}

@media (max-width: 56.25em) {
  #scotch-panel {
    /** PANEL STYLES **/
  }
  #scotch-panel #scotch-panel {
    display: block;
    background: #e6e6e5;
  }
  #scotch-panel #scotch-panel ul {
    border: 6px solid black;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
  }
  #scotch-panel #scotch-panel ul li a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: transparent;
    color: blue;
  }
  #scotch-panel #scotch-panel ul li a:hover {
    background: cyan;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.header__nav-logo:hover {
  cursor: pointer;
}

.header__nav-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__navlist {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

@media (max-width: 56.25em) {
  .header__navlist {
    display: none;
  }
}

.header__navlist-item:last-child {
  padding-right: 4.5rem;
  margin-right: 0rem;
}

@media (max-width: 75em) {
  .header__navlist-item:last-child {
    padding-left: 4%;
    max-width: 100%;
    padding-right: 3rem;
  }
}

.header__navlist-item {
  margin-right: 4.5rem;
  text-transform: uppercase;
}

@media (max-width: 75em) {
  .header__navlist-item {
    padding-left: 2.5%;
    max-width: 100%;
  }
}

.header__navlist-item > a {
  text-transform: uppercase;
  font-size: 1.4rem;
  border-bottom: 1px solid #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__navlist-item > a:hover {
  border-bottom: 1px solid #333333;
}

/* SEARCH FORM - learnt from Chris Coyier article */
/* need to place this separately or style won't stick */
.searchContainer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 75em) {
  .searchContainer {
    display: none;
  }
}

.searchIcon {
  padding: 0.5rem 1.3rem 0.5rem 0.5rem;
  color: #666;
}

.searchBox {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  color: #333333;
}

.features__panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 37.5em) {
  .features__panel {
    margin-bottom: 5rem;
  }
}

.features__panel-heading {
  margin-top: 4.5rem;
  color: #0073ab;
  font-weight: 300;
  font-size: 2.6rem;
  padding-bottom: 2rem;
}

.features__panel-txt {
  color: #333333;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  width: 15rem;
  margin: 0 auto;
}

@media (max-width: 37.5em) {
  .features__panel-txt {
    width: 28rem;
    font-size: 1.5rem;
  }
}

.features__panel-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: #fff;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
}

@media (max-width: 37.5em) {
  .features__panel-img {
    width: 8rem;
    height: 8rem;
  }
}

.features__panel-imgFilter {
  -webkit-filter: invert(27%) sepia(73%) saturate(1992%) hue-rotate(177deg) brightness(95%) contrast(102%);
          filter: invert(27%) sepia(73%) saturate(1992%) hue-rotate(177deg) brightness(95%) contrast(102%);
  width: 80%;
  height: 80%;
}

@media (max-width: 37.5em) {
  .features__panel:last-child {
    margin-bottom: 0rem;
  }
}

.feature-globe {
  width: 100%;
  height: 100%;
}

.services__panel {
  background: #fff;
  max-width: 27rem !important;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0 3rem 0 0;
}

@media (max-width: 75em) {
  .services__panel {
    min-width: 45%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 37.5em) {
  .services__panel {
    min-width: 100%;
    margin: 0 0 3rem 0;
  }
}

.services__panel-heading {
  padding: 3rem 1.5rem 2rem 1.5rem;
  font-size: 2.6rem;
  color: #0073ab;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  overflow: hidden;
}

.services__panel-img {
  width: 27.8rem;
  height: 16.2rem;
  overflow: hidden;
}

@media (max-width: 75em) {
  .services__panel-img {
    min-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.services__panel-img > img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.services__panel-list {
  padding: 0 1.5rem 2.4rem 1.5rem;
}

@media (max-width: 37.5em) {
  .services__panel-list {
    min-width: 100%;
    text-align: left;
  }
}

.services__panel-item {
  font-size: 1.6rem;
  line-height: 3rem;
}

.services__panel-item:before {
  content: "+";
  color: #0073ab;
  margin-right: 1rem;
}

.carousel {
  height: 100%;
}

.carousel .carousel-indicators {
  margin-bottom: 2rem;
}

.carousel .carousel-indicators li {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.4;
  margin-left: 1rem;
  border: 1px solid #fff;
}

.carousel-item img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
  width: 100vw !important;
  height: 100vh !important;
}

@media (max-width: 75em) {
  .news__panel {
    min-width: 45%;
  }
}

@media (max-width: 37.5em) {
  .news__panel {
    min-width: 100%;
  }
}

.news__panel-date {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333333;
  padding: 2rem 2.4rem 0rem 2.4rem;
}

.news__panel-heading {
  font-size: 1.8rem;
  color: #0067a3;
  font-weight: 300;
  padding: 2rem 2.4rem;
  line-height: 1.4;
}

img.news__panel-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 50%;
  height: 50%;
}

@media (max-width: 75em) {
  img.news__panel-img {
    min-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=main.css.map */